[2017-02-28 13:10] faizan-khan-iit opened #1 "htmlwidgets with animint"
One of the goals of `animint2` is to get it to work with `htmlwidgets` and `crosstalk`. With that in mind I tried to build a minimal dummy package that saves data from R to a json file and then plots it using JS in a webpage, to mirror animint's functionality - [plotteR](https://github.com/faizan-khan-iit/plotteR).

Now I have been trying to get it to work with htmlwidgets but I seem to be doing s

[2017-02-28 13:12] faizan-khan-iit commented on #1
@cpsievert Could you please help me a bit here. I just can't seem to get it to work

[2017-02-28 16:41] cpsievert commented on #1
One of the philosophies of htmlwidgets is that you shouldn't have to explicitly write to disk. It essentially assumes you can store all your data as JSON (via `jsonlite::toJSON()`) at print time. I forgot how much this is at odds with the animint philosophy :/

That being said, you might be able to hack something together using this approach...try returning the htmlwidget object as `print.htmlwidg

[2017-02-28 17:27] faizan-khan-iit commented on #1
Seems like this could take some effort. Some thoughts:

1. While using JSON data directly, do we need to have *all* the data in the primary memory the whole time? This contradicts with the animint feature where we only load the subsets when needed. If we do implement this, will it affect the performance during big data sets examples that we already have?
2. Is there any way we can save the interac

[2017-03-17 18:35] faizan-khan-iit commented on #1
@cpsievert I was a bit busy the past two weeks and I could not work on this. Could you explain a bit about your solution? Do you mean something like:
[code]

This is not working as of yet. I was trying to get some insight into the `print.htmlwidget` function, but it seems there are no docs for this. Should I pass the whole data instead of the file name?

[2017-03-17 18:43] cpsievert commented on #1
Passing the whole data would make the implementation less complicated and more "htmlwidgets-like", but I'm not sure how much work it is and how it would affect performance...

[2017-03-17 19:42] faizan-khan-iit commented on #1
@cpsievert Have you ever tried `visNetwork`? I was just playing around with it the other day and it seemed a bit slow. I was plotting some network data, dim about 10000 * 2. It took around a minute to plot the network. That might also be because of vis.js. I can't really say.

I think we will need some significant modifications to the current code base if we want to use the widget with this approa

[2017-03-17 19:59] tdhock commented on #1
I'm not sure ...

1. There are definitely use cases where we don't want to download all the data at the beginning of the plot rendering (that is why we developed the chunking system)

2. maybe there is a way to pass just the meta-data (plot.json) to the htmlwidget?

[2017-03-17 20:15] cpsievert commented on #1
@faizan-khan-iit I'd suggest trying this first ^^^

[2017-03-17 20:23] faizan-khan-iit commented on #1
@cpsievert @tdhock Ok. From what I understood, I take the meta-data about the saved files and pass it to the widget. Then try to load the rest of the data (which is saved on the disk) from inside the widget. Did I get this right?

[2017-03-20 15:10] faizan-khan-iit commented on #1
@cpsievert @tdhock Some updates:

1. I tried passing all the data directly and it works as expected. [No problems here](https://github.com/faizan-khan-iit/plotteR/tree/dev).
2. When I try to pass just the meta data along with the path to tsv file which contains the data (it is stored in a local directory), it gives me [this error](http://stackoverflow.com/questions/10752055/cross-origin-requests-a

[2017-03-21 12:41] faizan-khan-iit commented on #1
@cpsievert @tdhock I found out kind of a work-around to the above problem. What I do is use the `saveWidget` function from `htmlwidgets` to save the plot definition at the same place as the data. Kind of like this:
[code]

So the widget gets saved to the directory where the data was previously saved and it seems to work. However there are some points worth noting:
1. We can't use the widget withou

[2017-03-21 18:18] tdhock commented on #1
about the local server errors, what browser are you using? chrome blocks local requests unless you give it a special flag at startup. firefox allows local requests. also you may be able to use the servr package in a background process (?) to serve the files on a local file server (even when using chrome). also you may want to file an issue with the htmlwidgets devs -- it shouldn't be this difficul

[2017-03-21 18:59] cpsievert commented on #1
I have a feeling (2) is gonna lead down a deep rabbit-hole and, without a considerable addition to htmlwidgets (which has been rather idle recently), will require a big hack

Do we have any idea how much effort (1) would take?

[2017-03-21 20:57] faizan-khan-iit commented on #1
@tdhock I tried both chrome and firefox and neither worked for when I was using the local server. When I do save the widget like I mentioned in the previous comment, firefox works fine but chrome still throws the error.

I will try uploading the files to the server. This seems like a nice idea to use `servr`.

@cpsievert I think (2) is just what we did before, except we are using `htmlwidgets` to

[2017-03-21 20:59] faizan-khan-iit commented on #1
I just dropped a mail to @timelyportfolio. Hope he can provide some insight into this.

[2017-03-21 21:31] tdhock commented on #1
Faizan for me (1) is not even an option. there are data sets that are too big to download all at once (without significant user waiting), so IMO we definitely need to keep the chunking system.

[2017-03-21 21:44] faizan-khan-iit opened #2 "animint2 goals"
Discuss the major changes in `animint2`. Outline here: https://github.com/rstats-gsoc/gsoc2017/wiki/Animated-interactive-plots-(animint)#ideas-for-gsoc-2017-coding-projects

- [x] Remove `ggplot2` dependecy
- [ ] Object oriented internals: geom specific code separated from geom independent code
- [x] Change syntax: use params instead of `clickSelects`/`showSelected`/etc aesthetics
- [ ] Introduce

[2017-03-21 21:48] faizan-khan-iit commented on #2
For removing the dependency on ggplot2, we will need to make these changes:
1. Copy over all geom code, including `ggproto`, and make changes to avoid warnings
2. Write animint versions of ggplot2 functions including `plot_theme` and `ggplot_build` used in the code
3. Copy over other functions used in animint code as is

[2017-03-21 21:52] faizan-khan-iit commented on #1
@tdhock In (1), I think we can pass the same data that we saved as tsv files to the widget. We could edit the functions so that we pass a big object containing all the data we will need. So the data will still be in chunks, but all the chunks will be in memory all at once, from the start. Will that still be too costly?

[2017-03-21 21:56] faizan-khan-iit commented on #2
@tdhock Would you like to add anything to this? I think this should remove the dependency altogether

[2017-03-22 16:00] tdhock commented on #2
that sounds good to me, but I would say that data.table and syntax change are more important than htmlwidgets/crosstalk

[2017-03-22 16:02] tdhock commented on #1
right. to me the chunking system is a very important feature. removing it is a step in the wrong direction. if we can't get the chunking system to work with htmlwidgets, I say we just don't use htmlwidgets.

[2017-03-22 20:10] faizan-khan-iit commented on #1
In that case I think our best option while using `htmlwidgets` is to upload the files using `servr`. I'll see what I can manage here.

[2017-03-23 21:49] faizan-khan-iit commented on #2
@tdhock About removing the dependency on `ggplot2` and I think it's not really necessary. Here is an alternative:
1. Instead of copying over the geoms and editing them, we could make `geom_*_animint()` versions of them in our code like you suggested. We can edit the definitions to include all the required params in `animint`
2. Like before, we could create our own versions: `animint::ggplot_build`

[2017-03-24 04:00] tdhock commented on #2
that sounds ok in theory. if you can get that to work, great!

[2017-04-11 19:11] faizan-khan-iit opened #3 "Handling geoms in animint2"
To remove the warnings and dependencies on un-exported `ggplot2` functions we need to create our own versions of `geom_*()` functions, [as discussed here.](https://github.com/tdhock/animint2/issues/2#issuecomment-288871082)

So I created the `geom_point_animint()` which inherits directly from `geom_point()` and adds the aesthetics `showSelected`, `clickSelects` etc : https://github.com/faizan-khan

[2017-04-11 19:15] faizan-khan-iit commented on #3
The current code will *not* work for ggplot2 v2.2.1 because they have made various changes to the facet code: https://blog.rstudio.org/2016/11/14/ggplot2-2-2-0/

However it works with the CRAN version 2.1.0, so there should be no problems once we get the facet system working.

[2017-05-25 11:37] tdhock commented on #3
Hey @faizan-khan-iit  I see that in this approach `showSelected` works as an aes? What about `showSelected2` etc?

I think it would be preferable to change the syntax to params rather than aesthetics: `geom_point(aes(x=hp, y=disp), showSelected="cyl")` -- would that be possible in this new approach?

[2017-05-25 14:00] faizan-khan-iit commented on #3
@tdhock I will have to look into how to handle the multiple `showSelected` params.

In the meantime could you please drop a little note here about the `getStrips` and related functions in `facets.R`? We will have to edit that code so a little overview of what they do would be a great help..

[2017-05-29 16:57] tdhock commented on #3
I think that the facets.R code is mostly just a copy-paste from ggplot2. We may be able to delete that code if we are just going to re-do the computations of scales for each facet ourselves (the computations will be different from standard ggplot2, because of showSelected).

[2017-06-05 15:18] faizan-khan-iit commented on #3
I was trying to get the new syntax working with `GeomAnimint`, but it has just been error after error yet. So I tried another way to handle showSelected in our code: https://github.com/faizan-khan-iit/animint2/commit/3118c1ce8f8a73b9f204884e1acf683c09b9278c

With this we will have this as our Geom*Animint code (just a kind of wrapper on the original ggplot2 code with additional params): https://gi

[2017-06-05 15:23] faizan-khan-iit commented on #3
@tdhock I would like some feedback on two things:
1. Is this okay as an approach? We basically will have to create shell `geom_*_animint` functions over the existing ggplot2 geoms with minimal changes, so that is a plus.
2. How should the `colour` value be passed when we add `showSelected`? Should we only add it when it is passed in as an `aes`, like we do currently?

I will try and see if the `Ge

[2017-06-05 15:57] tdhock commented on #3
Thanks for investigating the feasibility of showSelected params using ggplot2.

From Case 1 it is nice that it is working, but it is definitely sub-optimal to require the user to write `showSelected=list(c("cyl", "am"))`. One way to get around would be to allow `showSelected=c("cyl", "am")` and then modify the definition of geom_point_animint. Add explicit showSelected parameter so that the showSe

[2017-06-06 14:14] faizan-khan-iit commented on #3
Here are the changes: https://github.com/faizan-khan-iit/animint2/commit/1dacc7e56e667f4f4df73937cf713ec7fb08ff03

With these changes:
1. Case 1 works fine
2. Case 2 gives error in the `ggplot2` evaluation itself, when `showSelected` is not a param. So we need to sort that out. So some code like:
[code]

also gives the error:

[code]

I think both `geom_point_animint` (or `geom_point_a`) and `geom

[2017-06-06 16:14] faizan-khan-iit commented on #3
Found a great way to pass the animint specific params in new `geom_*` functions: https://github.com/faizan-khan-iit/animint2/commit/04bf2686f96baa6e70a8594d6964b02d3ffee0ca

I was digging through various geom definitions to solve the above problem when I came across [this](https://github.com/tidyverse/ggplot2/blob/master/R/geom-bar.r#L125-L128). It allows to pass an argument that is not an aesthet

[2017-06-06 19:07] tdhock commented on #3
thanks for figuring out that hack. any idea if it is officially supported by ggplot2 or if we will have compatibility problems in the future?

I keep getting the feeling that by dropping the ggplot2 dependency, we will have fewer maintenance problems in the future. For you what are the advantages to keeping the ggplot2 dependency?

nice to know the animintParams syntax is possible. the `geom_point

[2017-06-07 13:04] faizan-khan-iit commented on #3
I think the primary advantage would be that we will not have too much code to handle (ggplot2 has a lot of code), and we will not have to handle the bug fixes in the ggplot2 code ourselves in the future as I mentioned in [this comment](https://github.com/tdhock/animint2/issues/2#issuecomment-288871082)

Also regarding the `animintParams` syntax, I used this because this hack allows us to pass only

[2017-06-07 13:36] tdhock commented on #3
for me the main advantage for keeping the ggplot2 dependency is that we get automatic non-interactive rendering, which can be useful for debugging.

about having not much code to handle, I think that will be solved if we adopt the object-oriented programming approach of the ggplot2 package (copy ggproto to our own version, aproto).

for me it seems like there are many more disadvantages to keeping

[2017-06-07 14:03] faizan-khan-iit commented on #3
I guess the pros to removing the dependency outweigh the cons here. However I still think all that code will be a major addition to our package. But if it makes further maintenance easier, I think it will be worth the effort. Especially since not removing the dependency also seems to be a bit complicated.

Regarding this approach, should I first copy over all the code from ggplot2 and then skim aw

[2017-06-07 14:14] tdhock commented on #3
sure, that sounds reasonable.

[2017-07-25 14:32] tdhock opened #6 "skype calls 2017"
- possible error related to ggproto inheritance at build time rather than at run time?
- facet system changes? take new facet code or old 2.1.0 facet code? which would be easier? it has been a month and we have not made much progress with the newer ggplot2 code. at least try copying code from faizan-khan-iit/ggplot2 to tdhock/animint2.
- paper ideas about moving computations to renderer?
- added p

[2017-08-01 13:37] tdhock commented on #6
- proof of concept copies selector params to aesthetics, probably too complicated/slow, would be better to abandon selector aesthetics altogether, delete selector.aes function, modify the code to rely on new params.
- try install the new branch.
- try converting tests to new syntax. Faizan will do renderer1 and 2, I can do 3,4,5, and compiler. I'll try to set up travis tests.
- R CMD check, maybe

[2017-08-01 13:51] tdhock commented on #6
question: what is selector.aes function doing?
answer: parsing aesthetic names, to determine which are showSelected1, showSelectedColor, etc, and which are showSelected.variable, showSelected.value. This is no longer needed becuase we just need to look at the showSelected item in the params list.

another thing to consider doing before end of GSOC: remove meta object.

[2017-08-01 13:53] tdhock commented on #6
would be nice if we have time: (would make it easier for us to maintain, but no user interface changes)
- OO geoms implementation.
- data table optimization.
- remove meta object.

[2017-08-01 15:50] tdhock opened #7 "cran checks"
this issue will be to discuss how to fix issues in R CMD check --as-cran

[2017-08-01 15:52] tdhock commented on #7
@faizan-khan-iit here is what the check for ggplot2Animint looks like on my system.

- can you change the Maintainer to yourself?
- there are some ggplot2 dependecies -- loadNamespace or requireNamespace -- can you please remove them?
- what about structure(list() instead of NULL?

[code]

[2017-08-01 17:53] faizan-khan-iit commented on #7
@tdhock I have made some relevant changes to the code. Could you please try again? The examples and tests still fail in the R CMD check though.

As for this warning
[code]
I believe I already made those changes before ([see here](https://github.com/faizan-khan-iit/ggplot2/commit/000b665eb7f3c92b4c56fb921cc00409eef9a316)). Could you verify this on your system? Cause I am not getting this warning an

[2017-08-01 18:02] tdhock commented on #7
also you may want to turn on travis for this repo, with the standard r cran checks

[2017-08-01 18:05] tdhock commented on #7
still have list() NULL problems

[code]

[2017-08-01 18:06] tdhock commented on #7
this line probably means you need to remove some library(ggplot2) from the testing code
[code]

[2017-08-01 18:07] tdhock commented on #7
need to change ggplot2 to ggplot2Animint in testthat.R!

[2017-08-01 18:07] tdhock commented on #7
also in these files:
[code]

[2017-08-01 18:25] faizan-khan-iit commented on #7
@tdhock I will try and replicate your output on my Linux system tomorrow if possible. Because I don't think we should still have that warning. Do you also get that warning while using the newer syntax in `animint2` code that [you mentioned here](https://github.com/tdhock/animint2/pull/5#issuecomment-319413652)?

[2017-08-01 18:40] tdhock commented on #7
no warning for the animint2 code,

[code]

[2017-08-22 13:46] tdhock commented on #6
- helping with animint jcgs paper, maybe submit later this week.
- new issue: editing the original mapping in place, makes mapping different for other plots later.  fixed it but kind of a hack: copy initial mapping, copy back at the end. issue in multiple axis test, only axis changing. problem results from the fact that layers are mutable (change an element of the layer inside of a function, and i

[2017-08-25 11:44] faizan-khan-iit commented on #2
@tdhock Should we start working on `data.table` next? I guess that we will have to profile the code first to see where we should dedicate our efforts.

[2017-08-25 12:35] tdhock commented on #2
right, if you want to work on optimizing the speed using the data.table,
the first thing to try would be a code profiler to see which functions to
focus on. My guess would be that most of the time is spent in splitting the
files, and for loops over the different subsets (e.g. saving tsv files --
something that probably could be sped up using data.table::fwrite instead
of write.table)

On Fri, Aug

[2017-08-28 10:11] faizan-khan-iit commented on #2
Opened #8 for `data.table`

[2017-08-29 14:06] tdhock commented on #6
- validate_params=FALSE always by default now, no need to use it in tests.
- iris data profile, too fast, profiler does not give much useful info.
- worldBank example profile. in a for loop 10 times. main slow functions: ggplot_build and saveLayer.
- at the end after we make our changes, how do we measure the speed improvement?
- already speed improvements using fwrite instead of write.table.
- in

[2018-05-11 14:54] vivekktiwari commented on #7
@faizan-khan-iit did the CRAN check on my local machine:

I am using ``` check() ``` function from devtools

[code]

[2018-05-11 18:00] vivekktiwari commented on #7
@faizan-khan-iit , my CRAN check output:
I am using `check()` from `devtools` package as Rtools package is no longer supported in new version.

[code]

[2018-05-12 12:33] vivekktiwari commented on #7
my ```check()``` output on ```animint2```` :

Major Issue I am facing is on ```RSelenium``` package not being available for  R v3.4.4 or R v3.5.0

[code]

[2018-05-13 20:33] vivekktiwari opened #12 "Package Dependencies Error during CRAN check"
During ```check()``` output:

ERROR:

[code]

WARNING:

[code]

I tried correcting it by NAMESPACE

with
[code]
and so on.. but then this error comes

[code]

Can you help me in this regard?

[2018-05-18 10:48] faizan-khan-iit commented on #12
@vivekktiwari Could you please post a link to the gist with the log output? The output above isn't really helpful. Also, please make sure the functions you import here are exported from the `ggplot2Animint` namespace

[2018-05-19 20:07] vivekktiwari commented on #12
@faizan-khan-iit, started working on  ```ggplot2Animint``` package! 👍

[2018-10-08 16:45] #7 closed

[2018-10-08 16:45] #6 closed

[2018-10-08 16:46] #12 closed

[2018-10-08 16:46] #2 closed

[2018-10-08 16:46] #3 closed

[2019-01-16 17:22] tdhock opened #28 "geom_contour error after loading ggplot2"
[code]

[2019-06-05 23:12] tdhock commented on #28
this is still a valid issue
[code]

[2019-06-05 23:13] #1 closed

[2019-09-09 03:31] talegari opened #30 "animint2 and gganimate"
Hi Toby,

For an end-user, what are the high level differences between animint2 and [gganimate](https://gganimate.com/)? At a high level they seem similar with one generating D3 and other png.

[2019-09-09 23:50] tdhock commented on #30
great question! I clarified that in the README, https://github.com/tdhock/animint2/blob/master/README.org#r-packages-for-animated-graphics

[2019-09-09 23:50] #30 closed

[2019-09-11 22:31] pmur002 opened #31 "update margin() function ?"
Hi
Thomas Lin Pedersen and I are working on some speed ups to 'grid' units [https://github.com/thomasp85/grid/issues/14], which involve a new unit implementation.
During testing, we found that 'animint2' fails because its margin() function creates its own "unit" objects (that are incompatible with the new unit implementation).
The ggplot2::margin() function has been updated for the new unit implem

[2020-02-24 18:25] tdhock commented on #31
hi @pmur002 can you please describe in more detail what exactly is changing/breaking and what we would need to do to fix it? I can try to find a student to work on it.

[2020-02-25 02:45] pmur002 commented on #31
I will try :)

Thomas and I are working on changing the internal implementation of 'grid' units (and want to commit this to r-devel soon).

Those changes broke a previous version of 'ggplot2', so 'ggplot2' has been fixed in a new version (on CRAN).

'animint2' has copies (forks) of lots of 'ggplot2' functions, but it has copies from the old version of 'ggplot2'.

This means that 'animint2' will br

[2020-03-02 21:17] tdhock commented on #31
hi, thanks for the suggestion to use `git merge` to get the recent versions from ggplot2. even better would be if we did not have to fork ggplot2 in the first place. but animint2 needed some changes that the ggplot2 devs did not want to support, so here we are. and so I don't think it will be feasible to use git merge. Instead it would be helpful to know how ggplot2 was changed to accomodate these

[2020-03-02 21:54] pmur002 commented on #31
I think "the only fix" would be a bold claim, but that is certainly one fix that needs to happen.  You could try it and see.  The 'grid' new unit change is about to go into r-devel, so you should be able to test against that soon.

Even if 'git merge' does not work, perhaps 'git diff' would still be useful to check for any other significant differences between your fork and ggplot2 (?)

[2020-04-27 08:53] danudwary opened #36 "Unavailable on CRAN?"
Is this software no longer available? Deprecated? Is there a recommended replacement?

[2020-05-14 15:40] lazycipher opened #37 "Issues with testing"
I was trying to run the tests on my system but I'm getting certain errors.
### How errors show up?
Cloned repo, installed needed version of RSelenium(1.3.5).
Loaded needed libraries and helper files.
[code]
Initialized test with `tests_init()` for headless at first and `tests_init("firefox")` for firefox.
Used `tests_run(filter="renderer")` to run phantomjs. [Console Output](https://paste.ubuntu.c

[2020-05-15 04:19] tdhock commented on #37
that is really strange that some tests are passing and others are not, but I guess that makes sense as you are upgrading to much newer versions of the testing software (RSelenium etc).
- So the clickElement function is not working at all any time in any tests? Or is it in just some tests?
- can you upgrade to the most recent version of RSelenium please? looks like 1.7.7 on https://cran.r-project.o

[2020-05-15 08:41] lazycipher commented on #37
As of now, I'm using the specified version of RSelenium(1.3.5) and Phantomjs(1.9.8).
- Looks like the `clickElement()` function worked in a different test but the way it was used was different. [`test-renderer1-knit-print.R`](https://github.com/tdhock/animint2/blob/c2398111e8b0e73e73fac28a8d56d8cf3a912a4c/tests/testthat/test-renderer1-knit-print.R#L105) didn't work but [`test-renderer2-widerect.R`

[2020-05-15 15:53] tdhock commented on #37
hi that is good that most of the test are working now, but please try to upgrade to most recent versions of RSelenium / selenium. we need to get that working soon.
also what version of R are you using?
please try using R-4.0.0 with this branch https://github.com/tdhock/animint2/pull/34 which impements that implements some fixes for R-4.0

[2020-05-15 16:16] lazycipher commented on #37
I've upgraded the packages. There are some issues like browser closes just after test starts and corrupted downloading of jar binaries by wdman but I'll make it work soon.
I'm using R v3.6.3. I'll upgrade to R v4.0.0 with #34 as you said.

[2020-05-15 16:48] tdhock commented on #37
what is "corrupted downloading of jar binaries by wdman" ?
why does the browser close just after the test starts?
The browser window should stay open for the entire test suite.

[2020-05-15 17:50] lazycipher commented on #37
As RSelenium uses wdman to start selenium server and download the binary in latest version and I wasn't getting much error details in console. So, I tried running `wdman::selenium()` which gave me this error.
[code]
So, I downloaded and placed working binary manually. And Started server.
[code]

Apart from that, It looks like some session timeout issue with browser instance and I'm working on it.

[2020-05-15 21:43] tdhock commented on #37
if you upgrade to most recent versions of R, RSelenium, selenium, firefox, and it still does not work then you should post an issue and ask for help from the RSelenium devs

[2020-05-16 15:54] lazycipher commented on #37
I've upgraded to the latest version of R, RSelenium, Selenium, Firefox but this browser auto close just after the test starts occurring. I'm trying to sort this out as soon as possible.

[2020-05-16 20:43] tdhock commented on #37
ok please try to look at the RSelenium docs to see what they recommend. can you please create a simple reproducible example that does not involve animint2, but still illustrates your problem? https://stackoverflow.com/help/minimal-reproducible-example

[2020-05-18 17:01] tdhock commented on #37
ok that it good you got it to work, docker can be useful for reproducibility purposes, so please explain what docker container you are using.
also you should be able to get it to work without docker, in theory...

[2020-05-18 19:01] lazycipher commented on #37
I'm using [`selenium/standalone-firefox-debug:latest`](https://hub.docker.com/r/selenium/standalone-firefox-debug).
It's working fine most of the times but somehow firefox crashes over there as well. I found an issue opened recently on firefox repo but couldn't find much. [related issue](https://github.com/mozilla/geckodriver/issues/1676)
I'm thinking to analyze the crash report to get to the reas

[2020-05-18 21:10] tdhock commented on #36
there are some problems with R-4.0 compatibility that @lazycipher  plans to work out during GSOC, so hopefully animint2 will be back on CRAN by the end of summer.
A work-around  is to use a previous version of R and install animint2 from github.

[2020-05-18 21:12] tdhock commented on #37
is this specific to firefox? can you try another browser? what other browsers does selenium/RSelenium support?

[2020-05-19 02:43] lazycipher commented on #37
Let me try this with any other browser.

[2020-05-21 11:42] lazycipher commented on #37
I've tried on chrome and firefox. I found out that:
- Both get crashed when used [`rsDriver()`](https://www.rdocumentation.org/packages/RSelenium/versions/1.7.7/topics/rsDriver) function.
- None crash when used [`remoteDriver()`](https://www.rdocumentation.org/packages/RSelenium/versions/1.7.7/topics/remoteDriver-class).

Here's the code for both ways.
### Using `rsDriver()`
This function first cr

[2020-05-21 17:00] tdhock commented on #37
ok thanks for the update. is that with the most recent version of
everything? can you commit/push that fix for the tests to this branch
please? https://github.com/tdhock/animint2/pull/34

On Thu, May 21, 2020 at 4:43 AM Himanshu Singh <notifications@github.com>
wrote:

[2020-05-23 14:17] lazycipher commented on #37
Sure thing!
I'll push it today!

[2020-05-23 19:35] lazycipher commented on #37
@tdhock, What's your views on moving testing on docker?
I've faced issues regarding version mismatch and I think docker can be a good option for us. It'll be helpful for new contributors.
What do you say?

[2020-05-23 21:13] lazycipher commented on #37
Hi @tdhock, I've pushed the made changes.

[2020-06-09 16:40] tdhock opened #38 "gsoc'20 call summary"
TODO post summary of calls.

[2020-06-09 17:05] tdhock commented on #38
- push/commit more often (at least once per day).
- send me links to blog post to read.
- currently upgrading testing packages. some issues. clickElement function not working. tried to execute javascript using executeScript works. change implementation of clickID? report as an issue to RSelenium? Minimal reproducible example. double check if the ID is there and only occurs once -- sometimes seleni

[2020-06-09 17:46] tdhock opened #39 "document browser hacks"
for example on firefox
Firefox allow open local files
Firefox

    Enter about:config in the browsers address bar.
    Then enter security. fileuri. strict_origin_policy in search bar on that config page to filter the available settings.
    Change that setting to false.
    After that access to local files should be possible, restarting the browser should be not necessary.

[2020-06-09 18:48] lazycipher commented on #38
- Why GSoC?
- Push regularly. The pushed code needs not necessarily to be perfectly working.
- Consolidate `clickHTML` and `clickID` if possible.
- Report dependency issues to the developers with minimal reproducible examples.
- `knit_print.Rmd` rendering due to print method issues.
- Moving tests to docker and write a post about that and if possible make a video.
- OPPs reference with help(gganim

[2020-06-12 17:46] tdhock opened #40 "too much space between each plot and its title"
@lazycipher I noticed a new bug/regression. can you please add a test and work on a fix in #34 ?
In old animint2 which worked with R-3.6 we have very little space between each plot and its title:

![screenshot-old-animint2-R-3 6](https://user-images.githubusercontent.com/932850/84531601-aff0f780-ac99-11ea-9ab9-06080791a44f.png)

but in new animint2 we have

![screenshot-too-much-space-animint2-R-4

[2020-06-12 17:49] tdhock opened #41 "sign up for saucelabs for testing?"
hi @lazycipher can you please sign up for a free open source account on https://saucelabs.com/platform which may be useful for headless browser testing?

[2020-06-12 19:34] lazycipher commented on #40
Sure @tdhock, I'll work around this issue and report back as soon as possible.

[2020-06-12 19:35] lazycipher commented on #41
Sure thing! It sounds like a good idea!

[2020-06-18 21:47] tdhock commented on #38
hi @lazycipher would you like another call next week?
if not please mention me in any issues you would like me to help with.

[2020-06-24 16:20] tdhock commented on #37
moving discussion to #34

[2020-06-24 16:20] #37 closed

[2020-06-27 08:03] lazycipher commented on #38
hi @tdhock, Can we have a call?
I'm having issues in understanding what causes this issue https://travis-ci.org/github/lazycipher/animint2/jobs/702589867#L9147
and a few more things.

[2020-06-27 15:44] tdhock commented on #38
to solve that issue just delete that example and then recompile documentation via devtools::document()
[code]

[2020-06-27 15:44] tdhock commented on #38
next week is really not that great for me for a call so let's try to use github ok?

[2020-06-27 16:34] lazycipher commented on #38
@tdhock sounds good to me!
I'll recompile and the push. I missed that part. Hopefully it'll work now.

[2020-06-28 15:56] lazycipher commented on #38
Hii @tdhock, Can you check what's this test renders and probably explain this test a bit to me, please?
https://github.com/tdhock/animint2/blob/master/tests/testthat/test-renderer4-Inf.R
![Screenshot from 2020-06-28 21-15-40](https://user-images.githubusercontent.com/17141301/85952286-b794e980-b985-11ea-9bab-3bfdbb3a62db.png)

The test is failing because of line 36.

[2020-06-29 20:26] tdhock commented on #38
this test is supposed to make sure that Inf/-Inf are rendered properly on both the x and y axes (at the edge of the panel).
the line number 36 is the following which computes the y position of the bottom of one of the drawn line segments
[code]

[2020-07-05 19:40] lazycipher commented on #38
@tdhock, whenever you get free, I need your help to solve the above issue and #40.

[2020-07-06 04:16] tdhock commented on #38
hi what is the above issue? looks like the viz with Inf/-Inf is rendering fine so you just need to make sure the testing code is extracting the positions correctly right?

[2020-07-06 04:17] tdhock commented on #40
hi what do you need help with here? can you replicate the issue / see the problem in rendered data viz on your system?

[2020-07-06 15:53] lazycipher commented on #40
Yes, my system also has the same issue.
Can you guide me on where should I look for in order to solve this issue?
I noticed that the title was using a css property, `transform: translate(200, 17)`, which looked responsible for this issue.

[2020-07-06 15:54] lazycipher commented on #38
If that's the case, then we are looking in the wrong panels for lines.
I'll rectify this asap.

[2020-07-06 22:26] tdhock commented on #40
yes maybe that it is. try experimenting with changing those translate values interactively in the browser to see if that fixes the problem. then if it does, figure out where those values are being generated in the R/js code.

[2020-07-08 19:22] lazycipher commented on #40
This line is causing issues! https://github.com/tdhock/animint2/blob/c2398111e8b0e73e73fac28a8d56d8cf3a912a4c/inst/htmljs/animint.js#L515
It renders correctly on R 3.6 but not on R 4.0. I guess it might be something related to some unit implementation.
I haven't found the R code responsible for passing these values but I'm sure I'll find this soon.

[2020-07-08 21:10] tdhock commented on #40
thanks for your persistence/dilgence.
plotdim.margin comes from
[code]
which comes from the following R code inside parsePlot:
[code]

[2020-07-09 03:56] lazycipher commented on #40
The value of `theme.pars$panel.margin` is `5.5pt` in 3.6 while the value is `5.5points` in 4.0.
The function `pt.to.lines` is not working as expected in 4.0.

[2020-07-09 04:05] lazycipher commented on #40
Thank you so much!
The value of `theme.pars$panel.margin` is `5.5pt` in 3.6 while the value is `5.5points` in 4.0.
The function `pt.to.lines` is not working as expected in 4.0.

[2020-07-09 05:35] lazycipher commented on #40
It was the function `pt.to.lines()` which was having issues. Actually the issue was caused as we were trying to extract unit type by using `attributes(pt_value)$unit`. In the new grid, there's a new function `unitType()` to extract that.

ref: https://developer.r-project.org/Blog/public/2020/04/13/changes-to-grid-units/index.html

[2020-07-09 05:37] lazycipher commented on #38
@tdhock, I don't know why it's happening! https://github.com/lazycipher/animint2/commit/78c853598c6ad21eebec91b8e3fcceda1689b1ca
The whole file is being taken as modified while when I commit, I check and I see only a single line being modified!

[2020-07-09 08:16] lazycipher commented on #38
The graph isn't rendering properly!
On R v4:
![Screenshot from 2020-07-09 13-42-35](https://user-images.githubusercontent.com/17141301/87014805-460d3480-c1ea-11ea-854b-ff863d5ae0ba.png)

While on R v3.6.3:
![Screenshot from 2020-07-09 13-42-29](https://user-images.githubusercontent.com/17141301/87014866-5ae9c800-c1ea-11ea-984f-e5a4f4254701.png)

We can clearly see that the plotted graph seems 90 d

[2020-07-09 14:04] lazycipher commented on #38
Fixed this! It was `stringsAsFactors = TRUE` that was missing!

[2020-07-09 16:37] tdhock commented on #38
great, that makes sense.

[2020-07-09 16:39] tdhock commented on #40
did you add a test that fails before your fix? if not can you do that please? (always a good idea to write a test that fails when you find a bug, before you fix the bug)

[2020-07-09 17:12] lazycipher commented on #40
Oh! I'm sorry! I forgot!
I'll add this asap.

[2020-07-09 17:38] lazycipher commented on #40
@tdhock, One thing I have to ask, this test will be a renderer one or what?
Calculating distance between title and plot is easy but with what we'll be comparing to make sure it's not big enough!

[2020-07-09 21:52] tdhock commented on #40
you are right the renderer test is not super easy / straightforward.
anyway the bug was with the compiler (r code) so you should probably just test pt.to.lines, or test the panel_margin_lines attribute of the compiled viz list, see other test-compiler* files.

[2020-07-10 04:12] lazycipher commented on #40
Alright! Let me go ahead!

[2020-07-10 21:32] tdhock commented on #41
hi did you sign up? or do you think it is not necessary? (travis + docker is sufficient?)

[2020-07-10 21:32] #40 closed

[2020-07-10 21:34] tdhock commented on #31
this seems to be fixed by @lazycipher 's PR, thanks!

[2020-07-10 21:34] #31 closed

[2020-07-11 04:57] lazycipher commented on #41
I think Travis + Docker is sufficient but I'll give it a try to find if it can make the process more smooth.

[2020-07-16 05:32] lazycipher opened #43 "Object Oriented implementation of geoms"
Currently, the [`saveLayer`](https://github.com/tdhock/animint2/blob/c2398111e8b0e73e73fac28a8d56d8cf3a912a4c/R/z_animint.R#L200) function uses many if-else conditions.
The idea is to make sayLayer a base class and move all the conditional check codes to geom specific files for better understandability and maintainability.
As per @faizan-khan-iit,

[2020-07-16 09:20] faizan-khan-iit commented on #43
One possible implementation that makes sense to me would be this:
1. Move all the code that is common to the geoms to the geom base file. This function will be behave the same no matter which geom is being used.
1. As for the if-else blocks, we will have separate implementations of these as per the geom requirements (which you can just copy/paste from the saveLayer function) for each geom. These w

[2020-07-23 10:17] lazycipher commented on #43
@faizan-khan-iit, Please let me know if I'm going in right direction!
https://github.com/lazycipher/animint2/commit/6e52f81235015848b0a1e07f958f917218529c4f

[2020-07-23 17:39] faizan-khan-iit commented on #43
@lazycipher This looks like a good change. One thing I would like to happen is for the data to be converted automatically in the geom definition. Can you do that instead? That way we can just get rid of the if-else blocks completely and have much cleaner code!

[2020-07-23 20:18] lazycipher commented on #43
Alright! I'll move that way! I'm having issues in understanding the current workflow hence it's taking time for me to get it working.
I'll do my best to complete it asap.

[2020-07-25 18:22] lazycipher commented on #38
Hi @tdhock, @faizan-khan-iit, I'm having issues in getting the flow of data.
If possible can we have a call as soon as possible please so that I can proceed with #43?

I've also made and posted 2 videos of testing on [YouTube](https://www.youtube.com/channel/UCmq-HuPibUBezW35oeUSC-Q) which shows how it's done on Linux and Windows. Soon I'll be posting a few videos in which I'll be making animated

[2020-07-29 18:34] lazycipher commented on #38
Call on 29th July with @faizan-khan-iit,
- Everything looks good till now: @faizan-khan-iit.
- I'm working on OOPs implementation. Things look quite good as of now. We should wait for @tdhock for his thoughts over the current implementation.
- A discussion about possible ways to make it work.
- Is it feasible to compute all required data from inside the `geom_*` functions?
- Once done with current

[2020-08-06 03:17] tdhock commented on #43
agree with Faizan, all geom specific data conversions should happen in geom methods, so we can avoid if-else

[2020-08-12 16:31] tdhock commented on #38
problem understand what is R package? no, problem understanding how R package works. that is normal.
details about problems?
move geom pre-processing to specific geom classes. issue is how? move common processing to base geom, then move geom-specific code to specific classes. sounds great, reasonable.
in base Geom class, you have the save/export method, then from within that method, you call the p

[2020-08-20 16:59] lazycipher commented on #43
This issue closes with #45

[2020-08-20 16:59] #43 closed

[2020-08-20 17:00] lazycipher opened #47 "Adding new aesthetics to work with selected items"
We've to introduce new aesthetics to work with selected items in animint2.
This issue tracks discussion regarding this new implementation.

[2020-08-20 17:04] lazycipher opened #48 "Move data subset calculation from compiler to the renderer."
Currently, The computations of updating of axes/legends after changing the currently displayed data subset are done in the compiler but there are some limitations, so it will be good to move the computations to the renderer.
We sometimes only have a subset of the whole data while computing the scales in the compiler so we are limited in our implementation.
This can be solved by moving the computat

[2020-08-24 19:14] lazycipher commented on #47
Hi @tdhock, Is this(#50) a good start to move with adding new aes?

[2020-08-24 19:38] tdhock commented on #47
looks like a reasonable start. let's move discussion to that PR

[2020-08-24 19:38] #47 closed

[2020-10-23 04:39] #36 closed

[2020-10-23 04:40] #38 closed

[2021-03-24 08:47] damodardhakad opened #51 "Package ‘ggplot2Animint’ is not available for this version of R"
Few examples like [Climate.R](https://github.com/tdhock/animint2/blob/master/inst/examples/Climate.R) require ggplot2Animint library. I have tried installing that but it seems this package is not available on CRAN. Where should I find it?

R version -  4.0.4 (2021-02-15)

[2021-04-01 11:20] AmolGirishShah commented on #51
The ggplot2Animint library has been integrated within the animint2 library itself, hence there is no CRAN package for it. If you want to absolutely make it work, you can install it from here
[code]
Source: from https://github.com/faizan-khan-iit/ggplot2/tree/cran

[2021-04-02 06:05] damodardhakad commented on #51
Thanks, @AmolGirishShah!

[2021-04-02 06:05] #51 closed

[2021-11-10 16:17] tdhock commented on #39
Enable JavaScript in local files:

    In Firefox, open up a new tab. Type or paste about:config in the address bar and press Enter.
    A button appears asking if you accept the risk to change advanced settings. Click that you accept the risk.
    Type unique in the search box, which will filter the list for words containing this word.
    Double click the privacy.file_unique_origin preference to

[2022-01-26 13:13] tdhock opened #52 "built package wont upload to win-builder"
[animint2_2022.1.25.tar.gz](https://github.com/tdhock/animint2/files/7941942/animint2_2022.1.25.tar.gz)
maybe its too big? message I got was
[code]

[2022-01-26 13:16] tdhock commented on #52
this tar.gz file was created via R CMD build directly, instead of bash build.sh, so it is larger than usual (5MB instead of 3MB)

[2022-01-26 13:17] tdhock commented on #52
smaller version created via bash build.sh on same source code uploads to win-builder just fine.

[2022-05-12 20:32] Csaluski opened #53 "geom_raster silently breaks entire plot"
While working with creating a tiled plot I tried using the `geom_raster` geometry, which documentation states is special case of `geom_tile` that is optimized for all tiles being the same size. However, upon adding the geometry to my list of plots it appears to break the entire plot system without any logs of errors, causing all the plots in a system to be blank. I tested this with the latest vers

[2022-05-18 16:21] tdhock commented on #53
Probably best to just remove geom_raster for simplicity, or replace it with an implentation like this:
[code]

[2022-05-24 19:41] tdhock opened #56 "fix test warnings"
hey @faye-yufan tests on GH actions CI are currently passing but have lots of warnings, for example in https://github.com/tdhock/animint2/runs/6580075868?check_suite_focus=true
[code]
It would be nice to fix the tests so that these warnings disappear. This would be a good first issue/PR for you to work on during the next week or so (because it is such a simple fix), in order for you to get familia

[2022-05-24 19:44] tdhock commented on #56
To fix `to ensure that smooth transitions are interpretable, aes(key) should be specifed` you should add `aes(key=something)` to the ggplot code in the test (something may be different for every test case though).
To fix `Deprecated: please use `expect_lt()` instead` you can just change all `expect_less_than` to `expect_lt` in the test code.

[2022-05-25 19:22] csaluski opened #57 "Compiler speed improvements with many selection subsets"
While working on some visualizations I've run into some performance issues that seem to be related to subsetting large data sets with `showSelected` on several criteria. I've created a simplified example of the plot that I'm creating using synthetic data [here](https://gist.github.com/csaluski/91d47e262fac3e50572e6c71c5d7cd88). This code can be easily expanded to see what other variables may have

[2022-05-25 19:37] csaluski commented on #57
See [this PR](https://github.com/tdhock/animint2/pull/8), some discussions about this previously, although it didn't focus on subsets increasing compilation time.

[2022-05-31 03:52] Faye-yufan commented on #56
It seems some ```aes(key)```warnings were caused by ```make_test()``` functions, since when I substitute ```make_text(WorldBank, 55, 9, "year")```  with ```geom_text(aes(5, 85, label=paste0("year = ", year), key=year), showSelected="year", data=WorldBank)``` the warning would disappear. So shall I keep the ```make_test()``` function?

[2022-06-06 18:32] Faye-yufan commented on #57
Hi @csaluski , I'm a little confused.
You mean compare ```grouped.scatter.plot``` with ```scatter. plot```, the additional subsets
[code]
is what causes almost twice compilation time?
And how do users interpret the approximate runtime complexity?

[2022-06-06 19:16] csaluski commented on #57
I think I added the `geom_text`s to just slightly improve the visualization, they slightly increase the runtime but not by a large amount. What really causes the increase is the `clickSelects` in the grouped plot, see
[code]
I updated the Gist with one that shows only this difference, along with another that shows the original text labels. The `clickSelects` attribute forces the compiler to comput

[2022-06-07 19:43] Faye-yufan commented on #57
Inside `getCommonChunk`, it seems the `<Anonymous>` takes a big part of the time, which I think is stands for [this line](https://github.com/tdhock/animint2/blob/96ec0caf446c555ae847febdf3681de6a6525ee8/R/z_animintHelpers.R#L763)
[code]

So I tested different apply functions, `lapply()` somehow faster than `sapply()`, and the difference is negligible but I think is worth trying.

![image](https://

[2022-06-07 20:33] csaluski commented on #57
Interesting results, it could definitely be worth looking at which version of apply is the best in each situation. However I don't think it's that specific instance of the function, as that's only one call over the data structure and not a loop, which should be a very small part of the runtime of the function, and it's not in quite the right order. In the flame graph I see that before the anonymou

[2022-06-13 20:59] csaluski opened #59 "User configurable alpha for selected and deselected elements"
Currently Animint's alpha system is very simple and works by taking a base alpha value for a geometry, either in its geometry attributes as the alpha for every element in the geometry, or as an aes parameter so that points can have an alpha determined by their value. When the element is selected it uses the full alpha value, and when it is deselected it uses that alpha value minus 0.5.

I believe

[2022-06-14 19:32] tdhock commented on #56
`make_text()` should not create any warnings, so instead of changing to `geom_text` we should change the definition of `make_text`.

[2022-06-14 19:38] tdhock commented on #57
that anonymous function,  `all.nas <- sapply(built, function(x){all(is.na(x))})`
does not seem like it should take a lot of time, so I think you should maybe try to re-run or re-analyze the profile. It should tell you which line of code takes the most time.

[2022-06-14 20:37] Faye-yufan commented on #57
Thanks to @csaluski created a simplified framework for ```getCommonChunk``` func and I made [the code](https://gist.github.com/csaluski/91d47e262fac3e50572e6c71c5d7cd88) run.
But ```getCommonChunk``` seems to cost trivial time(100-150ms) in this version. Still looking into it.

[2022-06-16 18:17] csaluski opened #62 "Axes and legends improvements"
I was reading [this article](https://observablehq.com/@vega/a-guide-to-guides-axes-legends-in-vega) about the design of plot axes and legends, specifically in Vega, but the ideas seem universally applicable. It made me wonder how flexible Animint's systems for these currently are, and if it's currently possible to recreate all of the options show in that article, or if further options would have t

[2022-06-16 18:34] csaluski commented on #62
One that currently doesn't seem possible and would be very useful for visualizations is the discrete gradient legends. Currently this is possible in [ggplot](https://ggplot2.tidyverse.org/reference/scale_steps.html), however I think that was added after Animint diverged from it.

[2022-06-19 06:00] tdhock commented on #59
I think that is a great idea to allow aesthetics other than alpha, like color_off, size_off, etc.
good to start with alpha_off.

[2022-06-19 06:03] tdhock commented on #62
you are right, the discrete gradient legends are not possible, but there is a work-around, just compute the discretization yourself as a factor variable and use that, which will make a categorical legend that shows basically the same information.

[2022-06-21 00:33] Faye-yufan commented on #57
I started rewriting ```getCommonChunk``` func with ```data.table``` and tested it with @csaluski 's example above in the past few days.

It seems to get some improvements until now. I only modified some parts of the function and the time cost has already been reduced by around 15%. See the profile [here](https://bl.ocks.org/Faye-yufan/3f2129fbb9ea9961d9ce74b90158d60e), where ```animint2dir_dt()```

[2022-06-21 06:50] tdhock commented on #57
hi thanks for the info! 15% does not seem like much of an improvement. Are you sure you have identified the slowest parts of the code correctly?

[2022-06-24 20:29] #56 closed

[2022-06-27 22:32] Faye-yufan opened #64 "Support for specifying legend/axis font size via theme()"
Currently Animint theme() does not support arguments like [`text`](https://ggplot2.tidyverse.org/articles/extending-ggplot2.html?q=theme%20text#global-elements), [`axis.text`](https://ggplot2.tidyverse.org/reference/element.html#ref-examples) nor [`legend.text`](https://ggplot2.tidyverse.org/articles/faq-customising.html#how-can-i-change-the-font-sizes-in-the-legend) to change axis/legend text siz

[2022-06-28 18:38] csaluski opened #65 "User configurable colour and fill for selected and deselected elements"
Animint's colour and fill currently allow a user to specify a colour mapping in a manner identical to ggplot2, but in interactive visualizations this can prove limiting. Allowing the user to specify a colour mapping for deselected elements can yield much improved visualization clarity by providing emphasis, as well as allowing an additional dimension of data to be displayed.

In the vein of the [a

[2022-07-08 04:43] Faye-yufan commented on #64
In PR#66, user configurable axis text size has enabled via defining `text`, `axis.text`, `axis.text.x` and `axis.text.y`, the syntax is the same as ggplot2. And `rel()` also works for the latter three, since these are the children elements of `text`.

Legend text size now can be defined via `legend.title` and `legend.text`. However, `rel()` does not work in defining this situation, since originall

[2022-07-08 06:51] Faye-yufan commented on #65
In compiler, I believe is [here](https://github.com/tdhock/animint2/blob/master/R/z_animint.R#L808-L809) allows `color` and `fill` is the same hex color code in the output chunk tsv file. Implementing `color_off` and `fill_off` shall be the same.

In JS, add a new function `colour` like [`opacity`](https://github.com/tdhock/animint2/blob/master/inst/htmljs/animint.js#L1570-L1586) for updating the

[2022-07-09 06:41] Faye-yufan commented on #65
Here are a couple of notes on discussing with @tdhock today:
* sometimes it would not be very clear when the color is already used to distinguish other data property in a legend. So maybe we should consider how to avoid selection state color messing with the legend scaled color. Some thoughts following [this comment](https://github.com/tdhock/animint2/pull/67#discussion_r917021135):
    * Let `col

[2022-07-11 21:18] Faye-yufan commented on #57
@tdhock update on the code profile and improvement:
I used the RStudio profiling tool to look into which part of code slows `getCommonChunk()`, and I think it is [this line](https://github.com/tdhock/animint2/blob/1e7c2683edf74191a4976a46d7b334d9c3840cd5/R/z_animintHelpers.R#L785) as below:
[code]
This is for sorting the `showSelected` columns which will be chunked on, so as to assign `group` base

[2022-07-11 22:42] tdhock commented on #57
2x speedup sounds good.

[2022-07-11 22:43] tdhock commented on #57
what is the new slowest part after using the new _dt implementation?

[2022-07-11 23:23] Faye-yufan commented on #57
As for `animint2dir`, it is the [`saveChunks()`](https://github.com/tdhock/animint2/blob/1e7c2683edf74191a4976a46d7b334d9c3840cd5/R/z_animintHelpers.R#L935-L949) inside `storeLayer`.  As for `getCommonChunk`, it is the [`split.x()`](https://github.com/tdhock/animint2/blob/1e7c2683edf74191a4976a46d7b334d9c3840cd5/R/z_animintHelpers.R#L901-L927) to split data.frame into recursive list of data.frame.

[2022-07-12 18:01] tdhock commented on #57
saveChunks may get speedups by using data.table::fwrite.
split.x may get speedups if you use split on a data table (currently it is frame right?)

[2022-07-13 01:21] Faye-yufan commented on #57
Right, currently it is dataframe.
Will do, thank you for the info!

[2022-07-13 01:53] Faye-yufan commented on #65
@csaluski A small [demo](http://bl.ocks.org/Faye-yufan/raw/a03556b5c4ae261cc0a2112d1694bf73/) on this, but I'm not sure if it makes any sense.

[2022-07-14 17:47] csaluski commented on #65
I think the demo is good for demoing the deactivated fill, it's a very useful way to draw some extra emphasis to currently selected items.

If we're not going to have a deselected color the addition of the extra `colour_off` scales aren't needed at all, and I think the demo has all the features we'll need for it. I agree that it could be confusing to have 2 different color scales in a single figur

[2022-07-14 20:29] tdhock commented on #65
hi @Faye-yufan thanks for sharing that example/demo. as I understand it you have grey fill to indicate points which are not selected, and then you have fill of different shades of blue for selected points. I guess that is understandable, but I think it could be highly confusing to use the fill in both ways. If you want to use a fill legend in a plot to represent data values, I think you should use

[2022-07-21 18:58] Faye-yufan commented on #57
@tdhock The `data.table::fwrite` works pretty well on this [profile](https://bl.ocks.org/Faye-yufan/raw/1e89abe6b6035b2ea808b87daca36423/), with the total time cost of `storeLayer` reduce from 5670ms to 200ms in this case.
`split.x` does not seem to improve much via `data.table` in this size(<1000 rows) of dataset, but will speed up in a bigger dataset(>10000 rows)
[code]

[2022-07-21 21:11] tdhock commented on #57
great thanks for the info. if you make those changes then what is the next thing that pops up as slowest?
for comparing timings of different codes as a function of data size N, you may try using my new atime package, which can make figures like this,
![table-vs-frame](https://user-images.githubusercontent.com/932850/180315852-f58f59d7-059d-4f4b-9c8f-d070966f3b52.PNG)
https://github.com/tdhock/atim

[2022-07-21 22:39] Faye-yufan commented on #57
Awesome, thanks for letting me know!
The next slowest in getCommonChunk is `varied.chunk()`, same situation as split.x, which I have updated with data.table in the recent commit. And this [for loop](https://github.com/tdhock/animint2/blob/0a2988ff02f73aab7ec6c3fb70d14439092bee27/R/z_animintHelpers.R#L842-L856) with `apply` is also slow, I should probably change it as well.
And parsePlot which call

[2022-07-22 20:09] tdhock commented on #57
I don't think we should optimize/re-write ggplot_build right now.

[2022-08-04 20:09] Faye-yufan commented on #28
After loading namespace ggplot2, the Layer object calls this [plyr defaults()](https://github.com/tdhock/animint2/blob/0a2988ff02f73aab7ec6c3fb70d14439092bee27/R/layer.r#L176) function to compute aesthetics, which generate a list of quosure with `expr` and `env` causing the error. I think it is probably because the `[.quosures` or `c.quosures` S3 methods are overwritten by ggplot2 in this case.
[c

[2022-08-04 21:09] tdhock commented on #28
great thanks for your analysis.

[2022-08-12 17:19] tdhock commented on #65
#72 implements color_off so partially fixes this issue. plan is to implement fill_off in a future pr.

[2022-08-12 19:22] #57 closed

[2022-08-12 19:24] #28 closed

[2022-08-12 21:54] tdhock commented on #65
also would be nice to
- warn if *_off is used on a geom which does not specify clickSelects. something like: geom_point has color_off="transparent" which is not used because this geom has no clickSelects; please specify clickSelects or remove color_off for this geom,
- update animint2 manual to mention these new features. alpha_off can be discussed in this section, https://rcdata.nau.edu/genomic-m

[2022-08-12 21:57] tdhock opened #74 "data table bug after compiler speed improvements"
#63 started using data.table for improving the speed of the compiler, but that seems to cause an error when compiling some animints. I'm surprised we did not catch this in our test suite, why not?
[code]
I get:
[code]
@Faye-yufan can you please investigate and fix?

[2022-08-12 21:58] Faye-yufan commented on #74
Will do!

[2022-08-12 23:16] Faye-yufan commented on #74
Hi @tdhock , this bug may be caused by passing `data.table` into the data param instead of `data.frame`.
[code]
The error is from [`addShowSelectedForLegend`](https://github.com/tdhock/animint2/blob/3ce09f1e524a0f6c5e351dcf90988ece5f91c01a/R/z_animintHelpers.R#L18) function, which is not a part of the code we use data.table to improve speed. In this function, `L$data` is passed in from the origina

[2022-08-13 04:24] tdhock commented on #74
thanks for the very clear explanation, that makes sense and is very helpful.
we should add this as a test case.
another solution to fix this issue is to just convert the input data to a frame.

[2022-08-24 20:22] tdhock commented on #74
hi @Faye-yufan any updates on this issue? I would suggest fixing this before moving on to other things.

[2022-08-25 03:58] Faye-yufan commented on #74
hi @tdhock  I'm on it now! By converting the input to a df.

[2022-08-25 15:30] #59 closed

[2022-08-25 16:05] tdhock opened #76 "add GH action to check/publish animint book"
these days before merging a PR, I am re-building https://github.com/tdhock/animint-book to make sure nothing breaks.
this suggests we should add a GH action which does this automatically for every push.
For publishing it would be nice to have at least the master branch.

[2022-08-26 06:17] Faye-yufan commented on #65
hi @tdhock , as I looking into the SVM example with _geom_tile_, I found the `aes(colour)`, if not defined, is default set equal to `aes(fill)` in the compiler, see [here](https://github.com/tdhock/animint2/blob/22e4d08ebdcfba9e3df73ec0fa9469094499192d/R/geom-tile.r#L106-108), so as _geom_raster_. I'm wondering why we need `g.data[["colour"]]` here? If I remove this line, it still works.

As the c

[2022-08-26 16:36] tdhock commented on #65
I'm not sure I understand your question. If you remove what line, what still works? If all of the tests still work after that, then that means we should probably add a new test case to clarify this ambiguity.
Can you please clarify "more chunky code" ?
For that SVM example the current/old code is
[code]
Although the color is not specified, the default implies color="black" and color_off="transpare

[2022-08-26 16:52] Faye-yufan commented on #65
"it works" means geom_tile still has the `fill` but no `colour`, except user specifies the colour in aes.

For my understanding, `g.data[["colour"]] <- g.data[["fill"]]` would give each tile the same colour value as fill in the final .tsv file, and for now, the JS would take the colour column in .tsv file first and ignore the colour/colour_off parameters, which leads to not able to use _colour_off

[2022-08-26 17:09] tdhock commented on #65
does this work?
[code]

[2022-08-26 17:15] Faye-yufan commented on #65
Seems the `color="grey50"` does not work
![image](https://user-images.githubusercontent.com/62975717/186957751-4a9791ae-5eb7-418d-8257-5838b9f701c7.png)

[2022-08-26 17:55] #74 closed

[2022-08-30 06:03] tdhock opened #77 "stroke-width for geom_point"
here is a simple example which uses alpha_off and color_off, with both points and tiles, https://bl.ocks.org/tdhock/raw/0c6fc15834620a391d281ef8be7587d5/
source: https://github.com/tdhock/animint-book/blob/master/Ch06-other.Rmd#L378
seems like everything is working as expected, using code from #72
but for the case of geom_point -> svg circle it is hard to see the color -> stroke change, so I am wo

[2022-08-31 06:21] Faye-yufan commented on #65
- warning has been added in the #72  commit
- animint manual update for `alpha_off` can be found in [pr#2](https://github.com/tdhock/animint-book/pull/2), and `colour_off`  in [pr#6](https://github.com/tdhock/animint-book/pull/6)

[2022-09-15 20:51] tdhock opened #79 "named clickSelects"
clickSelects is already a character vector but the names are ignored.
If names are present we could interpret it to mean names=selectors, values=column names.

OPTIMIZATION: for the prostateLasso test, it would be great to be able
to specify clickSelects=c(arclength="arclength.click") even if there
is no column named arclength in the data -- this would mean to update
the selector called "arclength

[2022-09-15 20:52] tdhock opened #80 "add update_axes test case"
add test with tdhock/changepoint-data-structure/figure-loss-small.R --
right now it works with update_axes but if I add clickSelects it stops
working (but it should still work).